<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow"
     th:fragment="header">
    <div class="col-md-4">
        <img class="my-0 mr-md-auto" style="width:200px; height: 60px" th:src="@{/images/logo.png}" alt=""/>
    </div>
    <div class="col-md-4 text-center">
        <nav class="navbar navbar-expand-lg">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a th:href="@{/index}" th:text="Index" class="nav-link">Index</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/appUser/homePage}" th:text="HomePage" class="nav-link">HomePage</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                    </a>
                    <div  class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a  th:each="category:${allCategories}"  th:text="${category.getName()}"  th:href="@{/index/message(categoryId=${category.getId()})}" class="dropdown-item" >Action</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a th:href="@{/blog/form}" th:text="CreatePost" class="nav-link">Create Post</a>
                </li>
                <li class="nav-item">
                    <span th:text="${authenticatedUserUsername}" class="nav-link">Guest</span>
                </li>



                <li class="nav-item ml-5">
                    <span th:if="${authenticatedUserRole != null and authenticatedUserRole.equals('ROLE_ADMIN')}">
                            <a class="btn btn-outline-info" th:href="@{/category/form}">Create category</a>
                    </span>
                </li>


                <li class="nav-item ml-5">
            <span th:if="${authenticatedUserUsername.equals('Guest')}">
                    <a class="btn btn-outline-primary" th:href="@{/loginPage}">Sign in</a>
            </span>


                    <span th:unless="${authenticatedUserUsername.equals('Guest')}">
                    <a th:href="@{/logoutPage}" class="nav-link">Log Out</a>
                    </span>
                </li>

            </ul>


        </nav>
    </div>
</div>
