<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <title>index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<!--fragment header-->
<div th:replace="fragments/header"></div>
<div class="container">

    <div th:each="blog: ${blogs}">
        <div class="row">
            <div class="card box-shadow col-md-4">
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-10">
                            <h4 th:text="${blog.getCategory().getName()}" class="my-0 font-weight-normal">Category</h4>
                        </div>
                        <a href="../editPost.html" class="btn btn-info" role="button">Edit</a>

                    </div>
                </div>
                <div class="card-body">
                    <h1 th:text="${blog.getName()}" class="card-title">Title</h1>
                    <div th:text="${blog.getContent()}" > Content </div>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">More</button>
                </div>
            </div>
        </div>
    </div>

</div>


</div>
</body>
</html>